* {
  box-sizing: border-box;
}
em,
i {
  font-style: normal;
}
.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}
.clearfix {
  *zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.shortcut {
  height: 36px;
  background-color: #2e2828;
}
.shortcut .left {
  float: left;
}
.shortcut .left ul li {
  float: left;
}
.shortcut .left ul li a {
  display: inline-block;
  color: #afafaf;
  padding: 9px 8px;
}
.shortcut .left ul li a:hover {
  color: #fff;
}
.shortcut .left ul li:first-child a {
  padding-left: 0;
}
.shortcut .left ul li:last-child {
  position: relative;
}
.shortcut .left ul li:last-child a {
  padding: 9px 20px 9px 10px;
}
.shortcut .left ul li:last-child::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 13px;
  right: 5px;
  width: 5px;
  height: 5px;
  border-right: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
  transform: rotate(45deg);
}
.shortcut .left ul li:last-child:hover {
  background-color: #fff;
}
.shortcut .left ul li:last-child:hover > a {
  color: #cb242b;
}
.shortcut .left ul li:last-child:hover::after {
  transform: rotate(225deg);
  top: 15px;
  border-right: 1px solid #cb242b;
  border-bottom: 1px solid #cb242b;
}
.shortcut .left ul li:last-child .dropdown-more {
  position: absolute;
  top: 36px;
  right: 0px;
  display: none;
  background-color: #fff;
  width: 120px;
  height: 144px;
  border-radius: 2px 2px 10px 10px;
  z-index: 999;
}
.shortcut .left ul li:last-child .dropdown-more dd {
  height: 36px;
  width: 100%;
  text-align: center;
  line-height: 36px;
  color: #777777;
}
.shortcut .left ul li:last-child .dropdown-more dd > a {
  padding: 0;
}
.shortcut .left ul li:last-child .dropdown-more dd > a:hover {
  color: #cb242b;
}
.shortcut .right {
  float: right;
  color: #afafaf;
}
.shortcut .right ul li {
  float: left;
}
.shortcut .right ul li a {
  display: inline-block;
  color: #afafaf;
  padding: 9px 8px;
}
.shortcut .right ul li a:hover {
  color: #fff;
}
.shortcut .right ul li:nth-child(n + 4) {
  padding-right: 15px;
  position: relative;
}
.shortcut .right ul li:nth-child(n + 4)::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 13px;
  right: 5px;
  width: 5px;
  height: 5px;
  border-right: 1px solid #afafaf;
  border-bottom: 1px solid #afafaf;
  transform: rotate(45deg);
}
.shortcut .right ul li:nth-child(n + 4):hover {
  background-color: #fff;
}
.shortcut .right ul li:nth-child(n + 4):hover > a {
  color: #cb242b;
}
.shortcut .right ul li:nth-child(n + 4):hover::after {
  transform: rotate(225deg);
  top: 15px;
  border-right: 1px solid #cb242b;
  border-bottom: 1px solid #cb242b;
}
.shortcut .right ul li:nth-child(4) div {
  position: absolute;
  display: none;
  top: 36px;
  right: 0;
  width: 80px;
  height: 80px;
  background-color: #fff;
  z-index: 999;
}
.shortcut .right ul li:nth-child(4) div dd {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.shortcut .right ul li:nth-child(4) div dd > a {
  padding: 0;
}
.shortcut .right ul li:nth-child(4) div dd > a:hover {
  color: #cb242b;
}
.shortcut .right ul li:nth-child(5) .webnav {
  position: absolute;
  display: none;
  float: left;
  top: 36px;
  right: 0;
  width: 890px;
  height: 200px;
  background-color: #fff;
  z-index: 99;
}
.shortcut .right ul li:nth-child(5) .webnav a {
  display: inline-block;
  padding: 0;
  color: #777777;
}
.shortcut .right ul li:nth-child(5) .webnav a:hover {
  color: #cb242b;
}
.shortcut .right ul li:nth-child(5) .webnav > div {
  display: inline-block;
}
.shortcut .right ul li:nth-child(5) .webnav > div p {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}
.shortcut .right ul li:nth-child(5) .webnav > div:first-child {
  margin: 40px 0 0 45px;
}
.shortcut .right ul li:nth-child(5) .webnav > div:first-child a {
  display: flex;
  flex-direction: column;
}
.shortcut .right ul li:nth-child(5) .webnav > div:first-child a::before {
  content: "";
  width: 50px;
  height: 50px;
  background: url(../images/sprite.png) no-repeat -202px 0px;
}
.shortcut .right ul li:nth-child(5) .webnav > div:nth-child(n + 2) {
  position: absolute;
  top: 30px;
  width: 150px;
  margin-left: 10px;
}
.shortcut .right ul li:nth-child(5) .webnav > div:nth-child(n + 2) a {
  padding: 0;
  display: inline-block;
  width: 70px;
  padding: 5px 0;
}
.shortcut .right ul li:nth-child(5) .webnav > div:nth-child(2) {
  left: 125px;
}
.shortcut .right ul li:nth-child(5) .webnav > div:nth-child(3) {
  left: 310px;
}
.shortcut .right ul li:nth-child(5) .webnav > div:nth-child(4) {
  left: 495px;
}
.shortcut .right ul li:nth-child(5) .webnav > div:nth-child(5) {
  left: 680px;
}
header {
  padding: 20px 0;
  height: 75px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04);
}
header .left .logo-mall {
  float: left;
}
header .left .logo-mall a {
  display: inline-block;
  width: 205px;
  height: 36px;
}
header .left .logo-mall a img {
  width: 100%;
}
header .left .leftnav {
  float: left;
  margin-left: 10px;
  padding-top: 7px;
}
header .left .leftnav li {
  float: left;
  font-size: 16px;
  padding: 0 10px;
}
header .left .leftnav li:hover a {
  color: #ca141d;
}
header .left .leftnav li:first-child {
  padding-left: 50px;
  position: relative;
}
header .left .leftnav li:first-child::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -1px;
  left: 20px;
  width: 24px;
  height: 24px;
  background: url(../images/icon-sprite.png) no-repeat 0 -24px;
  background-size: 24px;
}
header .left .leftnav li:first-child:hover::before {
  background-position: 0 0;
}
header .left .leftnav li:nth-child(2) {
  display: inline-block;
  background-color: #ff8486;
  border-radius: 10px;
}
header .left .leftnav li:nth-child(2) a {
  color: #fff;
}
header .left .leftnav li:nth-child(2):hover {
  background-color: #ff9d9e;
}
header .right {
  float: right;
  position: relative;
}
header .right input {
  width: 240px;
  height: 30px;
  border-radius: 15px;
  padding-left: 10px;
  background-color: #f0f0f0;
  border: 1px;
}
header .right input::placeholder {
  text-align: right;
  padding-right: 10px;
}
header .right .searchbox {
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
  width: 240px;
  height: 330px;
  background-color: #fff;
  z-index: 999;
}
header .right .searchbox h5 {
  color: #888888;
  padding-left: 15px;
  font-weight: normal;
}
header .right .searchbox ul li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
}
.fastgo {
  margin: 20px 0;
}
.fastgo .layout a {
  color: #666;
  padding: 0 15px;
}
.fastgo .layout a:hover {
  color: #333;
}
.fastgo .layout a:first-child {
  padding-left: 0;
}
.product {
  margin-bottom: 50px;
}
.product .layout .left {
  float: left;
  position: relative;
}
.product .layout .left .product_img {
  position: relative;
  width: 450px;
  height: 450px;
  border: 1px solid #ccc;
}
.product .layout .left .product_img > img {
  width: 100%;
}
.product .layout .left .product_img .mask {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 2;
  width: 300px;
  height: 300px;
  background: #FEDE4F;
  opacity: 0.5;
  z-index: 999;
  cursor: move;
}
.product .layout .left .big {
  position: absolute;
  top: 0;
  left: 460px;
  display: none;
  width: 600px;
  height: 600px;
  border: 1px solid #ccc;
  background: #fff;
  z-index: 999;
  overflow: hidden;
}
.product .layout .left .big .bigImg {
  position: absolute;
  top: 0;
  left: 0;
}
.product .layout .left .product_bottom {
  width: 450px;
}
.product .layout .left .product_bottom .arrow_l,
.product .layout .left .product_bottom .arrow_r {
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  background: url(../images/sprite_logo.png) no-repeat;
}
.product .layout .left .product_bottom .arrow_l {
  background-position: -48px -29px;
}
.product .layout .left .product_bottom .arrow_l:hover {
  background-position: -48px -59px;
}
.product .layout .left .product_bottom .arrow_r {
  background-position: -78px -29px;
}
.product .layout .left .product_bottom .arrow_r:hover {
  background-position: -78px -59px;
}
.product .layout .left .product_bottom ul {
  float: left;
  margin: 0 15px 0 25px;
}
.product .layout .left .product_bottom ul li {
  float: left;
}
.product .layout .left .product_bottom ul li a {
  display: inline-block;
  width: 59px;
  height: 59px;
  margin: 5px;
}
.product .layout .left .product_bottom ul li a img {
  width: 100%;
}
.product .layout .right {
  float: left;
  width: 680px;
  margin-left: 60px;
}
.product .layout .right .list_name {
  padding-left: 10px;
  margin-right: 20px;
}
.product .layout .right .product_recom h3 {
  font-size: 21px;
}
.product .layout .right .product_recom > p {
  font-size: 14px;
  color: #ca141d;
}
.product .layout .right .product_recom .product_price {
  width: 680px;
  height: 85px;
  background-color: #f5f5f5;
}
.product .layout .right .product_recom .product_price .product_price_num {
  padding: 10px 0 5px;
}
.product .layout .right .product_recom .product_price .product_price_num .price {
  font-size: 24px;
  color: #ca141d;
}
.product .layout .right .product_recom .product_price .product_price_num .price i {
  font-size: 18px;
}
.product .layout .right .product_recom .product_price .product_sales em {
  display: inline-block;
  line-height: 18px;
  height: 18px;
  border: 1px solid #ca141d;
  padding: 0 6px;
  min-width: 24px;
  color: #ca141d;
  text-align: center;
  margin-right: 10px;
  margin-top: 5px;
}
.product .layout .right .product_recom .product_cont {
  border-bottom: 1px solid #ccc;
}
.product .layout .right .product_recom .product_cont div {
  margin-top: 15px;
  padding-bottom: 10px;
}
.product .layout .right .product_recom .product_cont div i::before {
  content: "";
}
.product .layout .right .product_choose li {
  float: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-right: 8px;
}
.product .layout .right .product_choose li:hover {
  border: 1px solid #717171;
}
.product .layout .right .product_choose > div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.product .layout .right .product_choose > div:first-child li img {
  width: 30px;
  height: 30px;
}
.product .layout .right .product_choose > div:first-child li span {
  padding-left: 5px;
}
.product .layout .right .product_choose > div:nth-child(4) li {
  position: relative;
  padding-right: 30px;
  z-index: 9;
}
.product .layout .right .product_choose > div:nth-child(4) li::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 8px;
  display: inline-block;
  width: 12px;
  height: 7px;
  background: url(../images/sprite_logo.png) no-repeat -4px -7px;
}
.product .layout .right .product_choose > div:nth-child(4) li:hover::after {
  background-position: -4px -26px;
}
.product .layout .right .product_choose > div:nth-child(4) .wuyou,
.product .layout .right .product_choose > div:nth-child(4) .suiping,
.product .layout .right .product_choose > div:nth-child(4) .yanbao {
  display: none;
  position: absolute;
  top: 28px;
  left: -1px;
  width: 385px;
  padding: 15px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.product .layout .right .product_choose > div:nth-child(4) .wuyou div,
.product .layout .right .product_choose > div:nth-child(4) .suiping div,
.product .layout .right .product_choose > div:nth-child(4) .yanbao div {
  display: flex;
  align-items: center;
}
.product .layout .right .product_choose > div:nth-child(4) .wuyou div input,
.product .layout .right .product_choose > div:nth-child(4) .suiping div input,
.product .layout .right .product_choose > div:nth-child(4) .yanbao div input {
  margin-right: 5px;
}
.product .layout .right .product_choose > div:nth-child(4) .wuyou div em,
.product .layout .right .product_choose > div:nth-child(4) .suiping div em,
.product .layout .right .product_choose > div:nth-child(4) .yanbao div em {
  margin-right: 5px;
  display: none;
}
.product .layout .right .product_choose > div:nth-child(4) .wuyou {
  width: 385px;
}
.product .layout .right .product_choose > div:nth-child(5) span {
  margin-right: 40px;
}
.product .layout .right .product_choose > div:nth-child(5) li {
  margin-top: 8px;
  background-color: #f5f5f5;
  border: none;
}
.product .layout .right .product_choose > div:nth-child(5) li:hover {
  color: #ca141d;
}
.product .layout .right .product_choose > div:nth-child(6) span {
  margin-right: 5px;
}
.product .layout .right .product_choose > div:nth-child(6) em {
  color: #ca151d;
}
.product .layout .right .product_choose > div:nth-child(7) .item_num {
  position: relative;
  width: 65px;
  height: 47px;
  border: 1px solid #ccc;
  margin: 0 10px;
}
.product .layout .right .product_choose > div:nth-child(7) .item_num input {
  display: inline-block;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border: none;
  border-right: 1px solid #ccc;
}
.product .layout .right .product_choose > div:nth-child(7) .item_num em {
  display: inline-block;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-right: 1px solid #ccc;
}
.product .layout .right .product_choose > div:nth-child(7) .item_num span {
  position: relative;
}
.product .layout .right .product_choose > div:nth-child(7) .item_num span a {
  position: absolute;
  right: -18px;
  display: block;
  width: 18px;
  height: 22px;
  text-align: center;
  line-height: 22px;
}
.product .layout .right .product_choose > div:nth-child(7) .item_num span a:first-child {
  top: -13px;
  border-bottom: 1px solid #ccc;
}
.product .layout .right .product_choose > div:nth-child(7) .item_num span a:last-child {
  top: 8px;
}
.product .layout .right .product_choose > div:nth-child(7) .buy {
  width: 172px;
  height: 46px;
  text-align: center;
  line-height: 46px;
  font-size: 18px;
  color: #fff;
  background-color: #ca151d;
}
.product .layout .right .product_choose > div:nth-child(7) .time {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.product .layout .right .product_choose > div:nth-child(7) .time span {
  color: #ca141d;
}
.product .layout .right .product_choose > div:nth-child(7) .time i {
  font-size: 16px;
  background-color: #e11d25;
  padding: 1px;
  color: #fff;
  margin: 0 2px;
}
.product .layout .right .product_choose > div:nth-child(8) em {
  padding: 0 25px 0 10px;
}
.product .layout .right .product_choose > div:nth-child(8) a {
  color: #267eff;
  text-decoration: underline;
}
.product_list div {
  text-align: center;
  padding: 30px 0;
}
.product_list div a {
  font-size: 18px;
  color: #a4a4a4;
  padding: 0 10px;
  margin: 0 25px;
}
.product-detail p img {
  display: block;
  width: 100%;
}
h2 {
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 14px;
  position: relative;
  padding-left: 14px;
}
h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 5px;
  height: 25px;
  background-color: #ca141d;
}
.ov-hid {
  height: 1000px;
  overflow: hidden;
  position: relative;
}
.product-parameter {
  margin-top: 20px;
}
.product-parameter .layout div {
  margin-bottom: 20px;
  border-bottom: 1px solid #d8d8d8;
}
.product-parameter .layout div:nth-child(2) {
  height: 855px;
}
.product-parameter .layout div:nth-child(3) {
  height: 900px;
}
.product-parameter .layout div:nth-child(4) {
  height: 1350px;
}
.product-parameter .layout div:nth-child(5) {
  height: 335px;
}
.product-parameter .layout div:nth-child(6) {
  height: 495px;
}
.product-parameter .layout div:nth-child(7) {
  height: 55px;
}
.product-parameter .layout div:nth-child(8) {
  height: 255px;
}
.product-parameter .layout div:nth-child(9) {
  height: 55px;
}
.product-parameter .layout div:nth-child(10) {
  height: 1100px;
}
.product-parameter .layout div:nth-child(11) {
  height: 755px;
}
.product-parameter .layout div:nth-child(12) {
  height: 75px;
}
.product-parameter .layout div:nth-child(13) {
  height: 260px;
}
.product-parameter .layout div:nth-child(14) {
  height: 1655px;
}
.product-parameter .layout div:nth-child(15) {
  height: 55px;
  border-bottom: none;
}
.product-parameter .layout .mask_more {
  width: 100%;
  height: 300px;
  background: url(../images/mask.png) repeat-x;
  position: absolute;
  left: 0;
  bottom: -10px;
  z-index: 10;
  text-align: center;
}
.product-parameter .layout .mask_more a {
  position: absolute;
  bottom: 20px;
  display: inline-block;
  font-size: 14px;
  padding: 11px 38px 11px 38px;
  border: 1px solid #a4a4a4;
  background: #fff;
  border-radius: 2px;
}
.product-parameter .layout .close {
  bottom: 20px;
  text-align: center;
  border-bottom: none;
}
.product-parameter .layout .close a {
  font-size: 22px;
  color: #a4a4a4;
  width: 200px;
  line-height: 22px;
  text-decoration: none;
}
.product-parameter .layout .close::before {
  content: "";
  width: 16px;
  height: 7px;
  display: block;
  margin: 0 auto;
  margin-bottom: 6px;
  background: url(../images/sprite_logo.png) no-repeat -2px -26px;
}
.product-parameter .layout h3 {
  font-size: 22px;
  line-height: 27px;
  color: #333;
  font-weight: 600;
  width: 100px;
  float: left;
  position: relative;
}
.product-parameter .layout ul {
  float: left;
  margin-left: 45px;
}
.product-parameter .layout ul li {
  position: relative;
  *zoom: 1;
}
.product-parameter .layout ul li::after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}
.product-parameter .layout ul li span {
  float: left;
  font-size: 16px;
  line-height: 24px;
  margin: 0 50px 25px 0;
  text-align: start;
}
.product-parameter .layout ul li span:first-child {
  width: 130px;
  color: red;
}
.product-parameter .layout ul li span:nth-child(2) {
  width: 320px;
}
.product-parameter .layout ul li span:nth-child(3) {
  width: 440px;
}
.after-sale {
  margin-top: 20px;
}
.after-sale ol {
  margin-left: 100px;
}
.after-sale ol li {
  position: relative;
  font-size: 14px;
  vertical-align: top;
  color: #3a3a3a;
  padding-left: 16px;
  margin: 20px 0;
}
.after-sale ol li::before {
  content: "";
  width: 6px;
  height: 6px;
  display: block;
  border-radius: 3px;
  background: #d8d8d8;
  position: absolute;
  top: 7px;
  left: 0;
}
.after-sale .sale1 li {
  display: inline-block;
  width: 223px;
}
.after-sale p {
  font-size: 14px;
}
.evaluate {
  width: 100%;
  border-top: 1px solid #ccc;
  padding-top: 50px;
}
.evaluate .layout .eval_num div {
  float: left;
  width: 89px;
  margin-left: 15px;
}
.evaluate .layout .eval_num div i {
  color: #ca141d;
  font-size: 56px;
  height: 50px;
  line-height: 50px;
  width: 89px;
  text-align: center;
  margin-bottom: 12px;
}
.evaluate .layout .eval_num div i em {
  font-size: 16px;
}
.evaluate .layout .eval_num div span {
  display: block;
  text-align: center;
  padding-right: 17px;
  line-height: 14px;
}
.evaluate .layout .eval_num ul {
  float: left;
  width: 1000px;
  margin-left: 75px;
}
.evaluate .layout .eval_num ul li {
  float: left;
  margin-bottom: 10px;
}
.evaluate .layout .eval_num ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 5px;
  margin-right: 10px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  border-radius: 2px;
}
.evaluate .layout .eval_hot ul {
  float: left;
}
.evaluate .layout .eval_hot ul li {
  float: left;
  line-height: 36px;
  text-align: center;
  position: relative;
  margin-right: 40px;
}
.evaluate .layout .eval_hot div {
  float: right;
}
.evaluate .layout .eval_hot div input {
  display: inline-block;
  height: 14px;
  width: 14px;
  cursor: pointer;
  margin-right: 8px;
}
.evaluate .layout .eval_hot div span {
  font-size: 14px;
  color: #666;
}
.evaluate .layout .eval_cont {
  margin-top: 20px;
}
.evaluate .layout .eval_cont > ul {
  height: 300px;
  position: relative;
}
.evaluate .layout .eval_cont > ul li .user {
  position: absolute;
  top: 0;
  left: 0;
}
.evaluate .layout .eval_cont > ul li .user p {
  width: 70px;
  height: 70px;
}
.evaluate .layout .eval_cont > ul li .user p img {
  width: 100%;
}
.evaluate .layout .eval_cont > ul li .user span {
  display: inline-block;
  width: 70px;
  margin-top: 6px;
  text-align: center;
}
.evaluate .layout .eval_cont > ul li .user_cont {
  position: absolute;
  top: 0;
  left: 150px;
}
.evaluate .layout .eval_cont > ul li .user_cont div:first-child {
  display: inline-block;
  width: 110px;
  height: 30px;
  line-height: 1px;
  overflow: hidden;
  position: relative;
  background: url(../images/star.png) no-repeat -110px 0;
}
.evaluate .layout .eval_cont > ul li .user_cont div:first-child em {
  display: block;
  height: 30px;
  line-height: 1px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/star.png) no-repeat -110px 0;
}
.evaluate .layout .eval_cont > ul li .user_cont div:nth-child(3) img {
  width: 80px;
  height: 80px;
  vertical-align: top;
  margin: 2px 0 0 2px;
}
.evaluate .layout .eval_cont > ul li .user_cont div:nth-child(4) {
  color: #a4a4a4;
  margin-top: 21px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 36px;
}
.evaluate .layout .eval_cont > ul li .reply {
  position: absolute;
  bottom: 95px;
  left: 150px;
}
.evaluate .layout .eval_cont > ul li .reply div:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}
.evaluate .layout .eval_cont > ul li .reply div:nth-child(1) img {
  width: 32px;
  height: 32px;
  vertical-align: top;
}
.evaluate .layout .eval_cont > ul li .reply div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 50px;
}
.evaluate .layout .eval_cont > ul li .reply div:nth-child(2) dl {
  width: 600px;
}
.evaluate .layout .eval_cont > ul li .reply div:nth-child(2) dl dd:nth-child(1) {
  color: #ca141d;
}
.evaluate .layout .eval_cont > ul li .reply div:nth-child(2) dl dd:nth-child(3)::before {
  content: "";
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 3px;
  background: url(../images/sprite_logo.png) no-repeat 0 -228px;
}
.cont_fast_go ul {
  float: right;
}
.cont_fast_go ul .pgNext {
  width: 14px;
  height: 30px;
  padding: 0;
  background-color: none;
  border: 0;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../images/fastgo-icon.png) no-repeat;
}
.cont_fast_go ul li {
  float: left;
  margin: 0px 10px;
}
.cont_fast_go ul span .pgCurrent {
  color: #ca151e;
}
.cont_fast_go ul span li {
  font-size: 14px;
  padding-top: 7px;
  color: #a4a4a4;
}
.cont_fast_go ul span li:hover {
  color: #ca151e;
}
.cont_fast_go ul .first {
  background-position: 0 -60px;
  margin-right: 6px;
}
.cont_fast_go ul .pre {
  background-position: -14px -60px;
}
.cont_fast_go ul .next {
  background-position: -24px 0;
}
.cont_fast_go ul .next:hover {
  background-position: -24px -30px;
}
.cont_fast_go ul .last {
  background-position: -38px 0;
}
.cont_fast_go ul .last:hover {
  background-position: -38px -30px;
}
.ask .ask_tab {
  margin-top: 10px;
}
.ask .ask_tab a {
  float: left;
  margin-right: 30px;
  line-height: 32px;
  padding: 0 15px;
  font-size: 18px;
  text-align: center;
  position: relative;
  color: #a4a4a4;
}
.ask .ask_tab .selected_tab {
  color: #ca141d;
  border-bottom: 2px solid #ca141d;
}
.warm {
  margin-top: 10px;
  font-size: 14px;
  color: #a4a4a4;
  background: #f5f5f5;
  padding: 19px 20px;
}
.all_user_cont > ul {
  margin: top 15px;
}
.all_user_cont > ul li {
  border-top: 1px solid #ccc;
  padding: 20px;
}
.all_user_cont > ul li div:nth-child(1) {
  color: #a4a4a4;
}
.all_user_cont > ul li div:nth-child(1) em {
  margin-left: 25px;
}
.all_user_cont > ul li div:nth-child(2) {
  font-size: 14px;
}
.all_user_cont > ul li div:nth-child(3) {
  margin-top: 20px;
}
.all_user_cont > ul li div:nth-child(3) p {
  font-size: 14px;
  color: #ef5513;
}
.all_user_cont > ul li div:nth-child(3) em {
  font-size: 12px;
  color: #a4a4a4;
}
.all_cont_num {
  float: left;
  margin-left: 19px;
  font-size: 14px;
  color: #a4a4a4;
  height: 30px;
  line-height: 30px;
}
.my_ask {
  width: 100%;
  height: 100px;
  line-height: 100px;
  margin-top: 20px;
  background-color: #f5f5f5;
  text-align: center;
}
.my_ask a {
  font-size: 14px;
  padding: 10px 40px;
  border: 1px solid #a4a4a4;
}
.history .layout h4 {
  font-size: 18px;
  width: 96px;
  height: 27px;
  background: #fff;
  margin: 35px auto 0;
  line-height: 30px;
  text-align: center;
  position: relative;
}
.history .layout h4 em {
  width: 6px;
  height: 1px;
  background: #3a3a3a;
  display: block;
  position: absolute;
  top: 14px;
  left: 0;
}
.history .layout .his_items > a {
  float: left;
}
.history .layout .his_items > a:before {
  content: "";
  width: 9px;
  height: 16px;
  display: block;
  margin: 59px 0 0 17px;
  background: url(../images/icon_history.png) no-repeat;
}
.history .layout .his_items .his_before:before {
  background-position: -27px -16px;
}
.history .layout .his_items .his_before:hover:before {
  background-position: -18px -16px;
}
.history .layout .his_items .his_next:hover:before {
  background-position: -18px 0px;
}
.history .layout .his_items ul {
  margin-top: 40px;
}
.history .layout .his_items ul li {
  float: left;
  text-align: center;
  margin: 0 34px;
}
.history .layout .his_items ul li p {
  height: 38px;
  width: 160px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}
.history .layout .his_items ul li em {
  color: #ca141d;
  font-size: 14px;
  text-align: center;
}
.slogan {
  background-color: #f9f9f9;
}
.slogan ul {
  border-bottom: 1px solid #ccc;
  height: 80px;
  padding-top: 20px;
}
.slogan ul li {
  float: left;
  display: flex;
  margin-right: 100px;
}
.slogan ul li a {
  font-size: 18px;
  height: 40px;
  line-height: 40px;
}
.slogan ul li:before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background: url(../images/slogan_icon.svg) no-repeat;
}
.slogan ul li:nth-child(1):before {
  background-position: -74px 0;
}
.slogan ul li:nth-child(2):before {
  background-position: -154px 0;
}
.slogan ul li:nth-child(3):before {
  background-position: -194px 0;
}
.slogan ul li:nth-child(4) {
  margin-right: 0;
}
.slogan ul li:nth-child(4):before {
  background-position: -114px 0;
}
.sever_link {
  background-color: #f9f9f9;
  padding-top: 20px;
  border-bottom: 1px solid #ccc;
}
.sever_link .link_left {
  width: 920px;
  height: 155px;
  padding-top: 5px;
  border-right: 1px solid #e5e5e5;
  float: left;
}
.sever_link .link_left dl {
  float: left;
  width: 16.66667%;
}
.sever_link .link_left dl dt {
  font-size: 14px !important;
  padding-bottom: 7px;
  color: #333;
  display: block;
  border-left: none;
  padding-left: 0;
  line-height: 1.5 !important;
  margin-bottom: 0 !important;
}
.sever_link .link_left dl dd ol li a {
  color: #777;
}
.sever_link .link_left dl dd ol li a:hover {
  color: #ca141d;
}
.sever_link .link_right {
  float: left;
  width: 278px;
  margin-top: 2px;
  text-align: center;
}
.sever_link .link_right > ul li:nth-child(1) {
  font-size: 24px;
}
.sever_link .link_right > ul li:nth-child(2) {
  color: #575757;
}
.sever_link .link_right > ul li:nth-child(3) a {
  display: block;
  color: #fff;
  width: 170px;
  height: 34px;
  padding: 0;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 14px;
  line-height: 34px;
  background: #333;
  cursor: pointer;
  border-radius: 17px;
}
.sever_link .link_right > ul li:nth-child(3) a:hover {
  background: #777;
}
.sever_link .link_right .follow {
  float: left;
  width: 250px;
  margin-top: 15px;
  margin-left: 40px;
}
.sever_link .link_right .follow h5 {
  font-size: 14px;
  color: #333;
  float: left;
}
.sever_link .link_right .follow ul {
  float: left;
}
.sever_link .link_right .follow ul li {
  float: left;
  margin-right: 10px;
}
.sever_link .link_right .follow ul li a {
  display: block;
  width: 24px;
  height: 24px;
  text-indent: -999px;
  overflow: hidden;
  background: url(../images/follow_icon.svg) no-repeat;
}
.sever_link .link_right .follow ul li:nth-child(1) a {
  background-position: -126px 0;
}
.sever_link .link_right .follow ul li:nth-child(2) a {
  background-position: -150px 0;
}
.sever_link .link_right .follow ul li:nth-child(3) a {
  background-position: -174px 0;
}
.sever_link .link_right .follow ul li:nth-child(4) a {
  background-position: 0 -36px;
}
.foot {
  height: 150px;
  background-color: #f9f9f9;
  padding-top: 20px;
}
.foot .logo {
  margin-right: 20px;
}
.foot .logo img {
  vertical-align: top;
  width: 82px;
  height: 20px;
}
.foot .copyright ul li {
  color: #a4a4a4;
  margin-bottom: 5px;
}
.foot .copyright ul li a {
  color: #a4a4a4;
}
.foot .copyright ul li a:hover {
  color: #ca151d;
}
.foot .copyright ul li em {
  padding-right: 3px;
  margin-left: 3px;
}
.foot .copyright ul li:nth-child(1) ul li {
  float: left;
  line-height: 1;
  padding-right: 6px;
  border-right: 1px solid #d3d3d3;
  margin-right: 6px;
}
.foot .copyright ul li:nth-child(1) ul li a {
  color: #777;
}
.foot .copyright ul li:nth-child(1) ul li a:hover {
  color: #ca151d;
}
.foot .foot_img {
  margin-right: 75px;
}
.bgcgray {
  background-color: #f0f0f0;
}
.bordred {
  border-color: #ca141d !important;
}
.product_current {
  position: fixed;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #ccc;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 3px 3px rgba(225, 225, 225, 0.5);
  z-index: 999;
}
.product_a_current {
  border-bottom: 2px solid #ca141d;
  color: #ca141d !important;
  padding-bottom: 5px !important;
}
.sidebar ul {
  position: fixed;
  bottom: 30px;
  right: 15px;
  /* width: 80px; */
  background-color: #fff;
  border-radius: 10px;
}
.sidebar ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 56px;
  margin-top: 10px;
}
.sidebar ul li a::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
}
.sidebar ul li:nth-child(-n+2) a::before {
  background: url(../images/sidebar_icon.svg);
}
.sidebar ul li:nth-child(n+3) a::before {
  background: url(../images/sprite.png) 0 -72px;
}
.sidebar ul li:nth-child(1) a::before {
  background-position: -40px 0;
}
.sidebar ul li:nth-child(1) a:hover::before {
  background-position: -40px -40px;
}
.sidebar ul li:nth-child(2) a::before {
  background-position: 0 0;
}
.sidebar ul li:nth-child(2) a:hover::before {
  background-position: 0 -40px;
}
.sidebar ul li:nth-child(3) a::before {
  background-position: 0 -32px;
}
.sidebar ul li:nth-child(3) a:hover::before {
  background-position: 0 -72px;
}
.sidebar ul li:nth-child(4) a::before {
  background-position: -40px -32px;
}
.sidebar ul li:nth-child(4) a:hover::before {
  background-position: -40px -72px;
}
.sidebar ul li:nth-child(5) a::before {
  background-position: -80px -32px;
}
.sidebar ul li:nth-child(5) a:hover::before {
  background-position: -80px -72px;
}
.sidebar ul li:nth-child(6) a::before {
  background-position: -120px -32px;
}
.sidebar ul li:nth-child(6) a:hover::before {
  background-position: -120px -72px;
}
.choose {
  border: 1px solid red !important;
}
